Hello <%= @user.name %>,

You've requested a reset for your password at our bugtracker.
Click here to proceed <%= SITE_HOST + url_for( :controller=> "public", :action=>"reset_forgotten_password", :id => @request_hash ) %>

CATS Bugtracker staff
