Hello,

You've requested a reminder for your password at our bugtracker.
The hashsum of your password is <%= @user.password %>.
Thad does not help you much, don't you think? Feel sorry for yourself!

CATS Bugtracker staff
