= render :partial => @comment
A comment for 
%strong= link_to @comment.ticket.name, project_ticket_path(@comment.ticket.project, @comment.ticket)+"#comment_#{@comment.id}"
ticket which is part of
%strong= link_to @comment.ticket.project.name, project_path(@comment.ticket.project)
project