= render :partial => @comment
A comment for 
%em= link_to @comment.ticket.name, project_ticket_path(@comment.ticket.project, @comment.ticket)
ticket which is part of
%em= link_to @comment.ticket.project.name, project_path(@comment.ticket.project)
project