h1, h2, h3, h4{
  margin: 10px 0;
}

p{
  margin: 5px 0;
}

#loading_message{
  text-align: center;
  position: fixed;
/*  width: 100px;
  height: 60px;*/
  padding: 5px 15px;
  top: 0;
  right: 0;
  border: 1px solid black;
  background-color: white;
}

#top_nav, #left_nav{
  background-color: #D1DBEB;
}

#main_div, #top_nav, #left_nav{
  border: 1px solid #43659C;
  -moz-border-radius: 5px;
  margin: 5px;
}

#main_div{
  margin: 5px 5px 5px 180px;
  padding: 10px 10px 30px 10px;
  min-height: 300px;
  background-color: white;
}

#top_nav{
  padding: 5px 20px;
}

#messages{
  min-height: 35px;
}

#user_controls{
  float: right;
}

#nav{
  float: left;
}

#left_nav{
  float: left;
  width: 150px;
  padding: 20px 5px;
  text-align: center;
}

#tickets{
  padding: 10px 0;
}

.pagination{
  margin: 20px auto;
  text-align: center;
}

.project_wrapper{
  -moz-border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.odd{
  background-color: #F5F5F5;
}

.even{
  background-color: #e7d5d5;
}

.project_wrapper .desc{
  margin-left: 10px;
  font-style: italic;
}

.bottom{
  margin-top: 20px;
  text-align: right;
}

.show_user p{
  margin-left: 10px;
}

.show_user .pic{
  float: left;
}

.show_user .info{
  margin-left: 120px;
}

.ticket{
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
  -moz-border-radius: 5px;
}

#comments{
  padding: 10px;
}

#comments div.even{
  background: #D1DBEB;
}

#comments div.odd{
  background: #B0D1FF;
}

div.comment{
  clear: both;
  margin: 15px 0;
  border: 1px solid #43659C;
  padding: 5px;
  -moz-border-radius: 5px;
}

div.comment_heading{
/*   font-weight: bold; */
  color: #101170;
  float: left;
  border-right: 2px solid white;
  width: 190px;
  overflow: hidden;
}

div.comment_body, div.comment_heading{
  padding: 10px;
}

pre.code{
  background: #F0F0EE;
  margin: 5px;
  overflow: auto;
  padding: 10px;
}

div.comment_heading p{
  color: inherit;
}

.time{
  color: black;
  font-size: 10px;
}

div.comment_body{
  margin-left: 220px;
}

.centred{
  text-align: center;
}

span.user_img{
  position:static;
  vertical-align: middle;
}

#user_controls span.text{
  vertical-align: top;
}

strong, h1, h2, h3, h4, h5{
  color: #001682;
}

del{
  text-decoration: line-through;
  color: red;
}

div.comment_heading p.admin a{
  color: #34C746;
}