#public-main, #content{
	margin: 50px 50px 10px 50px;
	padding: 20px;
	-moz-border-radius: 5px;
	background-color: #D1DBEB;
  border: 1px solid #43659C;
}

#content{
	clear: both;
  margin-top: 10px;
}

#title{
	float: left;
	margin: 20px;
}

#nav{
	padding: 10px;
	border-right: 2px solid white;
	width: 100px;
	float: left;
}

#nav a{
	display: block;
}


div.oneline p{
  float: left;
  margin-right: 10px;
}

.form_wrapper table tr td p{
  display: inline;
}
