%span.user_img
  = avatar_for @logged_user, :size => 20, :default => UsersHelper::USERS_DEFAULT_AVATAR_SMALL
%span.text
  = "#{link_to(@logged_user.name, @logged_user)} [ #{link_to( "log out", :controller=> "public", :action => "logout")} ]"

