%h2
  Tickets for
  = nav_link h(@project.name), project_path(@project)
= will_paginate(@tickets)
#tickets
  - unless @tickets.empty?
    = render :partial => @tickets
  - else
    No tickets
= will_paginate(@tickets)